<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html> <!--<![endif]-->
<head>
    {% load static %}
    {% load for_menu %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static "app/images/favicon.png" %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "app/css/bootstrap.css" %}" rel="stylesheet" media="all">
    <link href="{% static "app/css/_responsive-utilities.css" %}" rel="stylesheet" media="all">
    <link href="{% static "app/css/font-awesome.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "app/css/responsive.css" %}" rel="stylesheet" media="all">
    <link href="{% static "app/js/flexslider/flexslider.css" %}" rel="stylesheet" media="all">
    <link href="{% static "app/js/prettyphoto/prettyPhoto.css" %}" rel="stylesheet" media="all">
    <link href="{% static "app/js/swipebox/swipebox.css" %}" rel="stylesheet" media="all">
    <link href="{% static "app/css/main.css" %}" rel="stylesheet" media="all">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{% static "app/js/jquery.min.js" %}"></script>
    <script src="{% static "app/js/flexslider/jquery.flexslider.js" %}"></script>
    <script src="{% static "app/js/elastislide/jquery.easing.1.3.js" %}"></script>
    <script src="{% static "app/js/prettyphoto/jquery.prettyPhoto.js" %}"></script>
    <script src="{% static "app/js/swipebox/jquery.swipebox.min.js" %}"></script>
    <script src="{% static "app/js/jquery.isotope.min.js" %}"></script>
    <script src="{% static "app/js/jquery.jcarousel.min.js" %}"></script>
    <script src="{% static "app/js/jquery.validate.min.js" %}"></script>
    <script src="{% static "app/js/jquery.form.js" %}"></script>
    <script src="{% static "app/js/jquery.selectbox.js" %}"></script>
    <script src="{% static "app/js/jquery.transit.min.js" %}"></script>
    <script src="{% static "app/js/bootstrap.min.js" %}"></script>
    <script src="{% static "app/js/custom.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#menu-main-menu a').each(function () {
                if (this.href == window.location.href) {
                    $(this).parent('li').addClass('current-menu-item');
                    $(this).parent('li').addClass('current_page_item');
                }
            });
        });

    </script>
</head>
<body>
<div class="header-wrapper">
    <div class="container">
        <header id="header" class="clearfix">
            <div id="logo">
                <a title="Real Homes" href="{% url 'app.views.index' %}">
                    <img src="{% static "app/images/logo.png" %}" alt="Real Homes">
                </a>
            </div>
            <div class="menu-and-contact-wrap">
                </h2>
                <nav class="main-menu">
                    <div class="menu-main-menu-container">
                        <ul id="menu-main-menu" class="clearfix">
                            <li><a href="{% url 'app.views.index' %}">Главная</a></li>
                            <li><a href="#">Районы</a>
                                <ul>
                                    {% get_area %}
                                </ul>
                            </li>
                            <li><a href="#">Жилые комплексы</a>
                                <ul>
                                    {% get_complex %}
                                </ul>
                            </li>
                            <li><a href="{% url 'app.views.news' %}">Новости</a></li>
                            <li><a href="#">Контакты</a>

                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>
</div>
{% block content %}
    {{ content }}
{% endblock %}
<footer id="footer-wrapper">
    <div id="footer-bottom" class="container">
        <div class="row">
            <div class="span6">
                <p class="copyright">Copyright © 2013. All Rights Reserved.</p>
            </div>
            <div class="span6">
                <p class="designed-by">Real Homes Theme by <a target="_blank" href="http://inspirythemes.com/">Inspiry
                    Themes</a> - Design by <a target="_blank" href="http://themedesigner.in/">Sunil Joshi</a></p></div>
        </div>
    </div>
</footer>

</body>
</html>
