{% extends "public/base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
    {% load static %}
    <div class="container contents">
        <div class="row">
            <div class="span12">
                <div class="main">

                    <section class="advance-search ">
                        <div class="as-form-wrap">
                            <form class="advance-search-form clearfix" action="" method="get">

                                <div class="option-bar large">
                                    <label>Район:</label>
                                    <span class="selectwrap">
                                        <select name="location" id="select-location" class="search-select">
                                            <option value="miami">Все</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="option-bar small second-last">
                                    <label>Цена от:</label>
                                    <span class="">
                                        <input name="min-price" placeholder="100 000 000">
                                    </span>
                                </div>

                                <div class="option-bar small last">
                                    <label>Цена до, руб.:</label>
                                    <span class="">
                                        <input name="max-price" placeholder="100 000 000">
                                    </span>
                                </div>

                                <input type="submit" value="Найти" class=" real-btn btn">


                                <div style="display: none;">
                                    <div class="option-bar large">
                                        <label>Жилой комплекс</label>
                                    <span class="selectwrap">
                                        <select name="status" id="select-status" class="search-select">
                                            <option value="on-rent">Все</option>
                                        </select>
                                    </span>
                                    </div>

                                    <div class="option-bar large last">
                                        <label>Property Type</label>
                                    <span class="selectwrap">
                                        <select name="type" id="select-property-type" class="search-select">
                                            <option value="condominium">Condominium</option>
                                            <option value="single-family-home">Single Family Home</option>
                                            <option value="villa">Villa</option>
                                            <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
                                    </div>

                                    <div class="option-bar small">
                                        <label>Bedrooms</label>
                                    <span class="selectwrap">
                                        <select name="bedrooms" id="select-bedrooms" class="search-select">
                                            <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
                                    </div>

                                    <div class="option-bar small">
                                        <label>Bathrooms</label>
                                    <span class="selectwrap">
                                        <select name="bathrooms" id="select-bathrooms" class="search-select">
                                            <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
                                    </div>


                                    <div class="option-bar small second-last">
                                        <label>Minimum Price</label>
                                    <span class="selectwrap">
                                        <select name="min-price" id="select-min-price" class="search-select">
                                            <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
                                    </div>
                                    <div class="option-bar small second-last">
                                        <label>Minimum Price</label>
                                    <span class="selectwrap">
                                        <select name="min-price" id="select-min-price" class="search-select">
                                            <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
                                    </div>
                                    <div class="option-bar small second-last">
                                        <label>Minimum Price</label>
                                    <span class="selectwrap">
                                        <select name="min-price" id="select-min-price" class="search-select">
                                            <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
                                    </div>
                                    <div class="option-bar small second-last">
                                        <label>Minimum Price</label>
                                    <span class="selectwrap">
                                        <select name="min-price" id="select-min-price" class="search-select">
                                            <option value="any" selected="selected">Any</option>
                                        </select>
                                    </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                    <!-- End .advance-search -->


                    <section class="property-items">
                        <h2 style="color: #CC3333;">Горячие предложения:</h2>

                        <div class="property-items-container clearfix">

                            <div class="span6 ">
                                <article class="property-item clearfix">
                                    <h4><a href="#" title="401 Biscayne Boulevard, Miami">401 Biscayne Boulevard,
                                        Miami</a></h4>

                                    <figure>
                                        <a href="#" title="401 Biscayne Boulevard, Miami">
                                            <img src="{% static "app/images/temp-images/property1.jpg" %}"
                                                 alt="401 Biscayne Boulevard, Miami"
                                                 title="401 Biscayne Boulevard, Miami">
                                        </a>
                                        <figcaption>On Rent</figcaption>
                                    </figure>

                                    <div class="detail">
                                        <h5 class="price">$3,250
                                            <small> - Condominium</small>
                                        </h5>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt…</p>
                                        <a class="more-details" href="#">More Details <i
                                                class="icon-caret-right"></i></a>
                                    </div>

                                    <div class="property-meta">
                                        <span><i class="icon-bed"></i>2&nbsp;Bedrooms</span><span><i
                                            class="icon-bath"></i>2&nbsp;Bathrooms</span><span><i
                                            class="icon-garage"></i>1&nbsp;Garage</span>
                                    </div>
                                </article>
                            </div>
                            <!-- End .span6 -->


                        </div>
                        <!-- End .property-items-container -->


                    </section>
                    <!-- End .property-items -->


                </div>
                <!-- End .main -->
            </div>
            <!-- End span12 -->
        </div>
        <!-- End .row -->
    </div><!-- End .contents -->
{% endblock %}