{% extends "public/base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
<div class="container contents single">
        <div class="row">
            <div class="span9 main-wrap">
                <!-- Main Content -->
                <div class="main">

                    <div class="inner-wrapper">

                        <article class="format-image">
                            <header>
                                <h3 class="post-title"><a href="#">Lorem Post With Image Format</a>

                                </h3>
                                <div class="post-meta image-meta">
                                    <span>Posted on <span class="date"> August 01, 2013</span></span>
                                    <span>by <span class="author-link"><a href="#" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="#" title="View all posts in Sales">Sales</a> </span>
                                </div>
                            </header>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                            <a class="real-btn" href="#">Read more</a>
                        </article>

                        <article class="format-video">
                            <header>
                                <h3 class="post-title"><a href="#">Example Video Blog Post</a></h3>
                                <div class="post-meta video-meta">
                                    <span>Posted on <span class="date"> August 01, 2013</span></span>
                                    <span>by <span class="author-link"><a href="#" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="#" title="View all posts in Market Updates">Market Updates</a> </span>
                                </div>
                            </header>
                            <div class="post-video">
                                <span class="format-icon video"></span>
                                <div class="video-wrapper">
                                    <iframe src="http://player.vimeo.com/video/23534361" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                            <a class="real-btn" href="#">Read more</a>
                        </article>

                        <article class="format-gallery">
                            <header>
                                <h3 class="post-title"><a href="#">Example Post With Gallery Post Format</a></h3>
                                <div class="post-meta gallery-meta thumb-exist">
                                    <span>Posted on <span class="date"> August 01, 2013</span></span>
                                    <span>by <span class="author-link"><a href="#" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="#" title="View all posts in Market Updates">Market Updates</a> </span>
                                </div>
                            </header>
                            <div class="listing-slider">
                                <span class="format-icon gallery"></span>

                                <div class="flex-viewport">

                                </div>

                                <ul class="flex-direction-nav">
                                    <li><a class="flex-prev" href="#">Previous</a></li>
                                    <li><a class="flex-next" href="#">Next</a></li>
                                </ul>
                            <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1200%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-828px, 0px, 0px);"><li class="clone" style="width: 828px; float: left; display: block;">
                                            <a href="images/temp-images/n1.jpg" title="" class="swipebox">
                                                <img src="images/temp-images/n1.jpg" alt="Chair One">
                                            </a>
                                        </li>
                                        <li class="clone flex-active-slide" style="width: 828px; float: left; display: block;">
                                            <a href="images/temp-images/n1.jpg" title="" class="swipebox">
                                                <img src="images/temp-images/n1.jpg" alt="Chair One">
                                            </a>
                                        </li>
                                        <li class="" style="width: 828px; float: left; display: block;">
                                            <a href="images/temp-images/n1.jpg" title="" class="swipebox">
                                                <img src="images/temp-images/n1.jpg" alt="Chair Three">
                                            </a>
                                        </li>
                                        <li class="" style="width: 828px; float: left; display: block;">
                                            <a href="images/temp-images/n1.jpg" title="" class="swipebox">
                                                <img src="images/temp-images/n1.jpg" alt="Chair Two">
                                            </a>
                                        </li>
                                        <li class="" style="width: 828px; float: left; display: block;">
                                            <a href="images/temp-images/n1.jpg" title="" class="swipebox">
                                                <img src="images/temp-images/n1.jpg" alt="Chair One">
                                            </a>
                                        </li>

                                    <li class="clone" style="width: 828px; float: left; display: block;">
                                            <a href="images/temp-images/n1.jpg" title="" class="swipebox">
                                                <img src="images/temp-images/n1.jpg" alt="Chair One">
                                            </a>
                                        </li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li><li><a class="">4</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                            <a class="real-btn" href="#">Read more</a>
                        </article>

                        <article class="format-image">
                            <header>
                                <h3 class="post-title">
                                    <a href="#">Example Post With Image Post Format</a>
                                </h3>
                                <div class="post-meta image-meta thumb-exist">
                                    <span>Posted on <span class="date"> August 01, 2013</span></span>
                                    <span>by <span class="author-link"><a href="#" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="#" title="View all posts in Comfort">Comfort</a> </span>
                                </div>
                            </header>
                            <figure>
                                <span class="format-icon image"></span>
                                <a href="images/temp-images/n1.jpg" class="swipebox" title="Example Post With Image Post Format">
                                    <img src="images/temp-images/n1.jpg" class="attachment-post-featured-image wp-post-image" alt="Example Post With Image Post Format" title="Example Post With Image Post Format">
                                </a>
                            </figure>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                            <a class="real-btn" href="#">Read more</a>
                        </article>
                        <div class="pagination">
                            <a href="#" class="real-btn current">1</a>
                            <a href="#" class="real-btn">2</a>
                        </div>
                    </div>

                </div><!-- End Main Content -->

            </div> <!-- End span9 -->

            <div class="span3 sidebar-wrap">

                <!-- Sidebar -->
                <aside class="sidebar">
                    <section class="widget">
                        <form role="search" method="get" id="searchform" class="searchform" action="#">
                            <div>
                                <label class="screen-reader-text" for="s">Search for:</label>
                                <input type="text" value="" name="s" id="s">
                                <input type="submit" id="searchsubmit" value="Search">
                            </div>
                        </form>
                    </section>
                    <section class="widget">
                        <h3 class="title">Featured Properties</h3>
                        <ul class="featured-properties">
                            <li>
                                <figure>
                                    <a href="#">
                                        <img src="images/temp-images/featured-widget-image1.jpg" alt="property 10">
                                    </a>
                                </figure>
                                <h4><a href="#" title="15421 Southwest 39th Terrace">15421 Southwest 39th Terrace</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing… <a href="#">Read More</a></p>
                                <span class="price">$3,850 Per Month</span>
                            </li>
                            <li>
                                <figure>
                                    <a href="#">
                                        <img src="images/temp-images/featured-widget-image1.jpg" alt="property 02">
                                    </a>
                                </figure>
                                <h4><a href="#" title="401 Biscayne Boulevard, Miami">401 Biscayne Boulevard, Miami</a></h4>
                                <p>Nam liber tempor cum soluta nobis eleifend… <a href="#">Read More</a></p>
                                <span class="price">$3,250 Per Month</span>
                            </li>
                        </ul>
                    </section><section class="widget"><h3 class="title">Categories</h3>
                        <ul>
                            <li class="cat-item cat-item-6"><a href="#" title="View all posts filed under Comfort">Comfort</a>
                            </li>
                            <li class="cat-item cat-item-2"><a href="#" title="View all posts filed under Luxury">Luxury</a>
                            </li>
                            <li class="cat-item cat-item-8"><a href="#" title="View all posts filed under Market Updates">Market Updates</a>
                            </li>
                            <li class="cat-item cat-item-13"><a href="#" title="View all posts filed under Sales">Sales</a>
                            </li>
                        </ul>
                    </section>
                    <section class="widget">
                        <h3 class="title">Recent Posts</h3>
                        <ul>
                            <li>
                                <a href="#" title="Lorem Post With Image Format">Lorem Post With Image Format</a>
                            </li>
                            <li>
                                <a href="#" title="Example Video Blog Post">Example Video Blog Post</a>
                            </li>
                            <li>
                                <a href="#" title="Example Post With Gallery Post Format">Example Post With Gallery Post Format</a>
                            </li>
                            <li>
                                <a href="#" title="Example Post With Image Post Format">Example Post With Image Post Format</a>
                            </li>
                            <li>
                                <a href="#" title="Lorem Ipsum Dolor Sit Amet">Lorem Ipsum Dolor Sit Amet</a>
                            </li>
                        </ul>
                    </section>
                    <section class="widget">
                        <h3 class="title">Recent Comments</h3>
                        <ul id="recentcomments">
                            <li class="recentcomments">
                                <a href="#">Lolyd Budd</a> on
                                <a href="#">Lorem Post With Image Format</a>
                            </li>
                            <li class="recentcomments">
                                <a href="#">Alex Shiels</a> on
                                <a href="#">Lorem Post With Image Format</a>
                            </li>
                            <li class="recentcomments">
                                <a href="#">John Doe</a> on
                                <a href="#">Lorem Post With Image Format</a></li>
                            <li class="recentcomments">
                                <a href="#">Alex Shiels</a> on
                                <a href="#">Lorem Post With Image Format</a>
                            </li>
                            <li class="recentcomments">
                                <a href="">Lloyd Budd</a> on
                                <a href="#">Lorem Post With Image Format</a>
                            </li>
                        </ul>
                    </section>
                </aside><!-- End Sidebar -->

            </div>


        </div><!-- End contents row -->

    </div>
{% endblock %}